@model TeaShoppe.Web.Web.ViewModels.CheckoutViewModel


<h3>***Purchase Complete***</h3>

<p>@Html.Raw(Model.Message.Replace("\n", "<br/>"))</p>

@if (Model.Success && Model.Order != null)
{
    <h3>Order Details</h3>
    <p>@Model.Order.OrderDetails()</p>
}

<p>
    <a asp-controller="Inventory" asp-action="Search">Return to Search</a>
</p>